@{
    Layout = null;
    //program layout seçmediğimi bilsin.
    //buttona tıkladığımda ulaşabilmem için form tagı gondermem gerek
    //type a submit diyelim ki form yapısı ile ilişkilensin.
}
<form action="/Login/Login" method="post">
    <button type="submit">Giriş Yap</button>
    </form>
